/* h1{

    color: brown;
    background-color: black;
    
} */


.hii{
    color: aquamarine;

}

.hey{
    color: blue;
    background-color: brown;

}

.ll{
    background-color: cornflowerblue;

}